/* demo only */

p { padding: 10px; }
main { margin: 10px; }
section { border: 1px solid #DDDDDD; }
section ~ section { margin-top: 10px; }

.left { float: left; }
.right { float: right; }
.sidebar { max-width: 45%; overflow: auto; }
.sidebar.left { border-right: 1px solid #DDDDDD; }
.sidebar.right { border-left: 1px solid #DDDDDD; }

.stacked .is-sticky { border-top: 1px solid transparent; }
.stacked .is-sticky.bottom { border-color: #DDDDDD; }

.content { max-width: 55%; }

.is-sticky { background: #EEEEEE; }

@media screen and (min-width: 798px) {
  main { width: 768px; margin: 10px auto; }

  .sidebar { max-width: 33.3%; overflow: auto; }
  .content { max-width: 66.6%; }
}
