/* this reset is required in order to avoid positioning issues */
* { box-sizing: border-box;  }

/* encouraged css-properties to apply */
.has-stickies { position: relative; overflow: auto;  }
.has-stickies.floating { overflow: hidden;  }

.is-sticky { z-index: 1;  }
.is-sticky.stuck { z-index: 2;  }
.is-sticky.stuck.bottom { z-index: 1;  }

{ margin: 0; padding: 0;  }
body { font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  }
ul { padding: 0; list-style: none;  }
ol { padding: 15px 0 0 30px;  }
li { padding-bottom: 10px;  }
label { display: block;  }
main { margin: 10px;  }
p { padding: 10px;  }
section { border: 1px solid #DDDDDD; background: #FFFFFF;  }
section ~ section { margin-top: 10px;  }

.row { display: table; position: relative;  }
.row > .cell { display: table-cell; vertical-align: top;  }
.three.column.row > .cell { width: 33.3%;  }

.left { float: left;  }
.right { float: right;  }
.sidebar { max-width: 45%;  }
.sidebar.left { border-right: 1px solid #DDDDDD;  }
.sidebar.right { border-left: 1px solid #DDDDDD;  }

.is-sticky { border-top: 1px solid transparent; background: #EEEEEE;  }
.is-sticky.stuck, .is-sticky.sit { background: -webkit-repeating-linear-gradient(45deg, #DDD, #DDD 20px, #EEE 20px, #EEE 40px); background: repeating-linear-gradient( 45deg, #DDD, #DDD 20px, #EEE 20px, #EEE 40px );  }
.content { max-width: 55%;  }

@media screen and (min-width: 798px) {
  main { width: 768px; margin: 10px auto;  }
  .sidebar { max-width: 33.3%; overflow: auto;  }
  .content { max-width: 66.6%;  }
}
