mixin repeat(n)
  each x in (new Array(n + 1))
    block

doctype html
html
  head
    link(rel='stylesheet' href='css/main.css')
    meta(charset='utf-8')
    title Stickys FTW! D:
  body
    .wrapper
      .is-sticky.fixed(data-sticky={fixed:true}) TOP HEADING / MENU

      p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      .is-sticky ILL BECOME A STICKY BRO?
      +repeat(2)
        p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      .row
        .cell
          .is-sticky(data-sticky={group:'left'}) Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .is-sticky(data-sticky={group:'left'}) ILL BECOME A STICKY BRO?
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .cell
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .cell
          .is-sticky(data-sticky={group:'right'}) ILL BECOME A STICKY BRO?
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .is-sticky(data-sticky={group:'right'}) ILL BECOME A STICKY BRO?
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

      .is-sticky ILL BECOME A STICKY BRO?
      +repeat(2)
        p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      .content
        +repeat(6)
          p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

        .floated
          p A SIDEBAR / PLAYLIST
          .is-sticky(data-sticky={group:'inner'}) FUAAAAA

        .is-sticky.floated
          p ILL BECOME A LARGE PLAYLIST
          +repeat(20)
            p AND I DONT WANT TO BE STUCK

        .is-sticky.scroll.floated
          p ILL BECOME A LARGE PLAYLIST
          +repeat(20)
            p BUT I WANT TO FIT WITHIN THE VIEPORT

        +repeat(3)
          p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

        button.dummy SHALL NOT PASS!

        +repeat(4)
          p Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      .footer
        +repeat(7)
          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

    //- script(src='vendor/vanilla-viewport/viewport.js')
    script(src='vendor/jquery/dist/jquery.js')
    //- script(src='vendor/sticky-kit/jquery.sticky-kit.js')
    script(src='js/main.js')
    script.
      $('.is-sticky').velcro()
